.wem_events-filters{
  flex-wrap: wrap;
}

.wem__filter{
  position: relative;

  select,input{
    padding: 4px 10px 4px 8px;
  }
  label{
    font-family: $headline-font;
    font-weight: bold;
    color: $details;
    margin-bottom: -4px;
    position: absolute;
    top: -27px;
    transition: opacity .3s .8s;
  }

  flex: 1 0 49%;
  @media (min-width: 768px) {
    min-width: 40%;
    flex: 1 0 40%;
    max-width: 50%;
  }
  @media (max-width: 767px) {
    max-width: calc(50% - 5px);
  }
}


.wem__filter--category-section{
  margin-right: 10px;
  select{
    appearance: menulist !important;
    &:focus{
      outline: none;
    }
  }
}

.wem__filter--date-section{
  border-radius: 3px;
  input {  }
}

.wem__filter--category-field, .wem__filter--date-field{
  display:flex;
  align-items: center;
  height: 34px;
  border: 1px solid #666;
  border-radius: 3px;
  top: -1px;
  select, input{
    height: 34px;
    width:100%;
  }

}

  .is-safari .wem__filter--category-field{
    border: none;
  }