.wem__event-detail {
  background-color: #fff;
  color: #333;
  width: 100%;
  min-height: 500px;
  height: 100%;
  padding: 65px 30px;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px rgba(#000, 0.3);
  overflow-y: scroll;

  @include breakpoint($bp-charlie){
    max-width: 50%;
    height: 100%;
    padding: 65px 75px;
  }
}

.wem__event-detail__close {
  background-color: #eee;
  text-decoration: none;
  font-size: 24px;
  color: #333;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 7px;

  &:hover {
    background-color: #fe0000;
    color: #fff;
  }
  svg{
    width:100%;
    height:100%;
    transform: scale(0.7);
  }
}

.wem__event-detail__image{
  padding: 0;
  margin: 0;
  img{
    max-width: 100%;
    display: block;
  }
}

.wem__event-detail__date {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.wem__event-detail__title {
  margin: 0 0 10px 0;
}

.wem__event-detail__meta {
  display: block;
}


.wem__event-detail__actions {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0 30px;
}

.wem__event-detail__action {
  text-decoration: none;
  font-weight: bold;
  color: #fe0000;
  transition: color 0.3s ease-in-out;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    color: darken(#fe0000, 10%);
  }
}


.wem__event-detail__action-details{
  color: #0166ff;
}




.wem__event-detail__content {
  margin: 30px 0 0;
  p:last-child{
    margin-bottom:0;
    margin-bottom: -0.1em;
  }
}

.wem__event-detail__headline {
  margin: 0 0 5px 0;
}

.wem__event-detail__headline + .wem__event-detail__paragraph {
  margin-top: 5px;
}
