


@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #cccccc transparent #cccccc transparent;
  -webkit-animation: lds-dual-ring 0.7s linear infinite;
  animation: lds-dual-ring 0.7s linear infinite;
}

$size: 100px;
$half-size : $size/2;

.lds-dual-ring {
  width: $size !important;
  height: $size !important;
  -webkit-transform: translate(-$half-size, -$half-size) scale(1) translate($half-size, $half-size);
  transform: translate(-$half-size, -$half-size) scale(1) translate($half-size, $half-size);
}

// @keyframes wem-spinning {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }

// .wem__loader {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .wem__loader__icon {
//   font-size: 40px;
//   color: #333;
//   animation: wem-spinning 1s infinite linear;
// }



.wem__loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  &.high{
    z-index:99999;
  }
}

.wem__loader__icon {
  @extend .lds-dual-ring;
}
