.wem__search-bar {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 7px 0 rgba(#000, 0.3);
  min-height: $searchFilterHeight;
  max-height: $searchFilterHeight;
  //overflow: hidden;

  .is-safari &{
    justify-content: flex-start;
  }

  &.only-desktop{
    display:none;
    @media (min-width: 768px) {
      display:flex;
    }
  }
  &.only-mobile{
    display:none;
    @media (max-width: 767px) {
      display:flex;
      // margin: 20px 0 -20px;
      // margin-left: calc(50% - 50vw);
      // margin-right: calc(50% - 50vw);
      box-shadow: none;
      border: 1px solid #ccc;
      border-radius: 3px;
      overflow: hidden;
      margin-top:20px;
    }
  }

}

.wem__search-bar__icon {
  color: #333;
  margin-left: 20px;
  transform: translateY(-0.5px);
  opacity: 0.8;
  transition: 0.4s;

  &.--active{
    cursor: pointer;
    opacity: 1;
  }
}

.wem__search-bar__input {
  font-family: inherit;
  font-size: 16px;
  flex-grow: 1;
  display: block;
  padding: 20px 13px;
  outline: none;
  border: none;
  min-height: $searchFilterHeight;
  max-height: $searchFilterHeight;

  &:focus{
    background-color: transparent;
  }

}


.wem__search-bar--error{
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  padding: 2px 8px;
  background: #fff;
  color: $secondary;
  top:100%;
  animation: revealRight 0.4s 1 forwards;
  transition: 0.4s;
  z-index:0;
}

input[type=search].wem__search-bar__input{
  -webkit-appearance: searchfield;
  border: none;

  .is-safari &{
    -webkit-appearance: textfield;
  }
}



.wem input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration{
  -webkit-appearance:searchfield-cancel-button;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}


@keyframes revealRight {
    from {left: -100%;}
    to {left:0;}
}