.wem__event-card {
  background-color: #fff;
  text-decoration: none;
  color: #333;
  display: flex;
  padding: 35px 30px;
  border-left: 0 solid $primary;
  border-right: 10px solid transparent;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  will-change: border-width;

  &:hover {
    background-color: #f7f7f7;
    border-left-width: 10px;

    // Need this to offset inner padding so text doesn't shift.
    border-right-width: 0;
  }

  @media (min-width: 768px) {
    padding: 35px 35px 35px 75px;
  }
  &:last-child{
    border-bottom: 0;
  }
}


$image-size: 30%;

.wem__event-card__details{
  flex: 1 1 auto;
  max-width: 100%;
  @include breakpoint($bp-charlie){
    .--has-image & {
      max-width: 100% - $image-size;
      width: 70% - $image-size;
    }
  }
}

.wem__event-card__image{

  display: none;
  @include breakpoint($bp-charlie){
    display: block;
  }

  flex: 1 0 $image-size;
  max-height: calc(100% - 20px);
  min-width:$image-size;
  width: $image-size;
  position: relative;
  margin: 0 -20px 0 30px;
  overflow: hidden;
  img{
    width:100%;
    max-width:100%;
    height: auto;
    display: none;
    position: absolute;

    @include breakpoint($bp-charlie){
      display: block;
    }
  }
}

.wem__event-card__date {
  text-transform: uppercase;
  margin: 0 0 8px;
}

.wem__event-card__title {
  color: $primary;
  margin: 0 0 10px 0;
}

.wem__event-card__meta {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1rem;
  display: block;
  font-family: $headline-font;
}

.wem__event-card__summary {
  font-size: 0.9rem;
  margin: 0;
}

.wem__event-card__description {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;

  &.description-short{
    display: none;
  }

  @media (max-width: 768px){
    &.description-short{
      display: none;
    }
    &.description-long{
      display: block;
    }
  }
  @media (min-width: 768px) and (max-width: 1100px){
    &.description-short{
      display: block;
    }
    &.description-long{
      display: none;
    }
  }
}
