.wem__events-panel {
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px rgba(#000, 0.3);
  pointer-events: all !important;

  @media (min-width: 768px) {
    max-width: 50%;
    min-height: 600px;
  }

}

.wem__events-panel__content {
  margin-top:-15px;
  padding: 35px $panelPadding;

  @media (min-width: 768px) {
    margin-top:0;
    padding: 85px 75px 12px;
  }
}

.wem__events-panel__scrollable {
  overflow-y: scroll;
  position: relative;
  &.--no-events{
    flex: 1 0 auto;
  }
}

.wem__events-panel__scrollmore{
  align-items: center;
  position: absolute;
  bottom:0;
  width: 100%;
  opacity: 0.8;
  transition: all 0.4s;
  font-family: inherit;
  justify-content: center;
  background: $white;
  padding: 10px;
  pointer-events: none;
  box-shadow: 0 0 20px rgba(#000, 0.3);
  text-align: center;

  &:before{
    content: 'Scroll for more events';
    display: inline-block;
    font-size: 14px;
    text-align: center;
    pointer-events: none;

    font-family: inherit;
    font-weight: normal;
  }
  svg{
    height: 12px;
    width:12px;
    opacity: 0.8;
    text-align: center;
    pointer-events: none;
    transform: rotate(90deg);
    margin-left:10px;
    position: relative;
    top:2px;
  }
  // &:after{
  //   content:'';
  //   background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 79 43.1' style='enable-background:new 0 0 79 43.1;' xml:space='preserve' role='img' aria-labelledby='down-arrow-title down-arrow-desc'%3E%3Cpolygon fill='%23000' stroke='%23000' stroke-width='3' class='st0' points='75.4,0 39.5,35.9 3.6,0 3.6,0 0,3.6 39.5,43.1 79,3.6 75.4,0 '%3E%3C/polygon%3E%3C/svg%3E");
  //   transform: rotate(90deg);
  //   display: inline-block;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   font-size: 14px;
  //   height: 10px;
  //   width:10px;
  //   text-align: center;
  //   pointer-events: none;
  //   font-family: inherit;
  //   font-weight: bold;
  //   margin-left:10px;
  //   position: relative;
  //   top:-1px;
  // }
  .wem__events-panel:hover & {
    pointer-events: none;
    opacity: 0;
  }

  display:none;
  @media (min-width: 768px) {
    display:flex;
  }

  .wem__events-panel.--at-bottom &{
    display: none !important;
  }
}

.wem__events-panel__headline {
  color: $headlineColor;
  margin: 0 0 20px 0;
  font-weight: bolder;
}

.wem__events-panel__description {
  color: $body;
  margin: 0 0 10px;
}

.wem_events-filters{
  display: flex;
  justify-content: flex-start;
  margin-top:10px;
  font-size: 14px;
  background: #fff;
  z-index: 999;
  padding: 12px $panelPadding;
  height: $searchFilterHeight;

  @media (min-width: 768px) {
    padding: 11px 75px;
  }

  position: sticky;
  top:0;


  .--sticky &{
    padding-left: $panelPadding;
    transition: padding-left 0.2s;
    label{
      opacity: 0;
      transition: none;
    }
  }
  .--near-sticky &{
    label{
      opacity: 0;
      transition: opacity 0.1s;
    }
  }
}

$scrollSpacerHeight: $searchFilterHeight - 12px;

.wem__events-panel__scroll-spacer{
  height: 30px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index:99;

  @media (min-width: 768px) {
    height: $scrollSpacerHeight;
    position: sticky;
    top: 12px + 1px;
  }
}

.wem__events-panel__noevents{
  padding: 60px;
  text-align:center;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $headline-font;
  font-size: 20px;
  transform: translate(0, -27%);

  button{
    cursor: pointer;
    display: block;
    margin:20px auto 20px;
    font-size: 14px;
  }
}


.wem__events-panel-virtual{
  .--sticky{
    .wem__events-panel__content{
      display: none;
    }
    .wem__events-panel__scroll-spacer{
      height:1px;
    }
    .wem_events-filters{
      margin-top:0;
    }
  }
  .wem__filter label{
    transition: none !important;
  }
}
.wem__events-virtual-scroller{
  position: absolute;
  bottom: 0;
  width:100%;
  height:60%;
  overflow-y: scroll;

  .wem__event-card{
    overflow: hidden;
    min-height: 290px;
  }
  .wem__event-card__details{
    display: flex;
    flex-direction: column;
  }
  .wem__event-card__description{
    flex: 1 0 auto;
  }
  @media (min-width: 768px) and (max-width: 1000px){
    .--has-image .wem__event-card__description{
      display:none;
    }
    .wem__event-actions{
      position: relative;
      min-width: 50vw;
    }
    .--has-image .wem__event-card__meta{
      flex: 1 0 auto;
    }
  }
  &.--is-full{
    height: calc(100% - 55px) !important;
  }
}
.wem__event__virtual{
      font-size: 16px;
    line-height: 16px;
    font-family: Campton-Bold,sans-serif;
    font-weight: 400;
}