$thin-mobile-width: $bp-adams;


.wem__event-actions {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $headline-font;
  @include breakpoint($thin-mobile-width){
    justify-content: flex-start;
  }
  align-items: center;
  margin: 10px 0 0;
  flex-wrap: wrap;
  .wem__event-detail &{
    margin: 10px 0 20px;
  }
  .wem__event-card & {
    @include breakpoint($bp-delta){
      min-width: 100vw;
    }
  }
}

.wem__event-actions__url {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $secondary;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  margin-top:10px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  svg{
    height:11px;
    line-height: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align:middle;
    padding-left: 10px;
    // position: relative;
    // top:-1.5px;
    flex: 1 0 6px;
    position: relative;
    top: 0.5px;
  }

  @include breakpoint($thin-mobile-width){
    & + & {
      margin-left: 20px;
    }
  }


  &:hover {
    color: darken($secondary, 10%);
  }
}


.wem__event-actions__url-details{
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

.wem__event-actions__social {
  //flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
  text-align:left;
  margin-top:10px;
  min-width: 57px;
  display:none;
  margin-left: auto;
  text-align: right;
  flex: 1 0 auto;
  max-width: 90px;


  @include breakpoint($thin-mobile-width){
    display: flex;
  }

  @include breakpoint($bp-charlie){
    opacity: 0;
  }

  .wem__event:hover & {
    opacity: 1;
  }

  .wem__event-card & {
    @include breakpoint($bp-charlie){
      max-width: 80px;
      margin-left: 30px;
      justify-content: space-around;
    }
  }

  .--no-url & {
    margin-left: 0px;
  }
  .wem__event-detail & {
    flex: 1 0 auto;
    min-width: 10px;

    @include breakpoint($thin-mobile-width){
      a {
        min-width: 10px;
        text-align: right;
      }
    }
    @include breakpoint($bp-adams-wide){
      max-width: 120px;
      a{
        min-width: 25px;
      }
    }
    @include breakpoint($bp-charlie){
      max-width: 100px;
    }

  }
}

.wem__event-actions__social-link {
  color: rgba(#000, 0.5);
  margin-left: 10px;
  position: relative;
  transition: color 0.3s ease-in-out;
  top:1px;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    color: #000;
  }
}
