// colors
$primary: #001a4b;
$primarylight: lighten($primary, 10%);
$secondary: #33ff00;
$secondarylight: lighten($secondary, 10%);
$tertiary: #133346;
$tertiarylight: lighten($tertiary, 10%);
$quaternary: #1682b5;
$quaternarylight: lighten($quaternary, 10%);
$bodydark: #002740;
$body: #333333;
$bodysemi: #999999;
$bodylight: #cccccc;
$bodylightest: #fcfbfa;

$hover: $quaternary;
$hoverlight: $primary;

// Header
$header-height: 61px;
$header-mobile-height: 55px;

// Navigation
$navBackground: #fff;
$navColor: $bodydark;
$navColorHover: $primary;
$dropDownBg: $bodydark;
$dropDownColor: #fff;
$dropDownHover: $primary;
$socialColor: #999999;
$socialHover: $secondary;

// Splash Popup
$splashBackground: #0f2142;

// Default Box shadow. Set to zero if you want to remove shadow from buttons and boxes
$boxShadowTop: 4px;
$boxShadowLeft: 2px;
$boxShadowBlur: 8px;
$boxShadowColor: rgba(0, 0, 0, 0.05);
$boxShadowTopHover: 8px;
$boxShadowLeftHover: 4px;
$boxShadowBlurHover: 15px;
$boxShadowColorHover: rgba(0, 0, 0, 0.15);

// Headlines
$headlineColor: $bodydark;
$hrColor: $primary;

// Social Media
$facebook: #1682b5;
$twitter: #00aced;
$email: #cccccc;

// breakpoints
$bp-alpha: 320px;
$bp-bravo: 480px;
$bp-charlie: 768px;
$bp-delta: 960px;
$bp-bobby: 1100px;
$bp-echo: 1250px;
$bp-fin: 1350px;

// fonts
$primary-font: "Sentinel SSm A", "Sentinel SSm B", serif;
$headline-font: "Campton-Bold", sans-serif;

// Fonts available:
// font-family: "Chivo";
// book = 400
// bold = 700

// font-family: "Campton-Bold";
// bold = normal/400
