<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Widget Preview</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous">
		<link rel="stylesheet" href="http://starter.wec/wp-content/themes/purple/assets/build/style.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/regular.css" integrity="sha384-EWu6DiBz01XlR6XGsVuabDMbDN6RT8cwNoY+3tIH+6pUCfaNldJYJQfQlbEIWLyA" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
		<style>
			.preview {
				width: 100%;
				margin: 75px auto;
				border: 1px dashed rgba(0, 0, 0, 0.2);
				position: relative;
			}

			.preview::before {
				content: 'WIDGET PREVIEW';
				position: absolute;
				display: block;
				top: -22px;
				font-size: 11px;
				color: rgba(255, 255, 255, 0.5);
			}
		</style>
	</head>

	<body style="background: rgba(255,50,50,0.5) !important">
		<div data-widget-host="we-mobilize" class="preview" style="background: rgba(50,50,50,0.5)">
		  <div class="wem__loader high">
        <div class="wem__loader__icon">
          <div style="width:100%;height:100%" class="lds-dual-ring"></div>
        </div>
      </div>
			<script type="text/props">
				{
					"base_path": "/",
					"api_key": "AIzaSyDF9vNrgEmUHFM8C_fXPeuBRqWVemuCCn0",
					"api_url": "http://starter.wec/wp-json",
					"endpoint":"an-events",
					"api_static":"http://standup2018.wec/mobilize",
					"title": "Upcoming Events",
					"description": "<p>Here is a thing</p>",
					"show_images":true,
					"default_bounds":{"ne":{"lat":49.5388001,"lng":-66.885417},"sw":{"lat":25.7763,"lng":-124.5957}},
					"mapStyles": [{"elementType":"geometry","stylers":[{"color":"#F3F2EE"}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"elementType":"labels.text.fill","stylers":[{"color":"#101D2B"}]},{"elementType":"labels.text.stroke","stylers":[{"color":"#F3F2EE"}]},{"featureType":"administrative.land_parcel","elementType":"labels.text.fill","stylers":[{"color":"#C9CFD1"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"visibility":"on"},{"weight":1}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#2EAD96"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#2EAD96"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#101D2B"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#FDD56D"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#9e9e9e"}]},{"featureType":"administrative.country","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"visibility":"on"},{"weight":0.5}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"color":"#e5e5e5"}]},{"featureType":"transit.station","elementType":"geometry","stylers":[{"color":"#eeeeee"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#3698B3"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#F3F2EE"}]}],
					"extra_map_features": []
				}
			</script>
		</div>

		<script async src="/bundle.js"></script>
	</body>
</html>
