// Must import each component stylesheet separately to prevent the Preact
// Widget template from generating unique class names per component. This is to
// allow themes to further style components.

// @import '../../../../themes/purple/assets/scss/utilities/_variables.scss';
// @import '../../../../themes/purple/assets/scss/utilities/_mixins.scss';
@import '_variables.scss';
@import '_mixins.scss';
//@import '../../../../themes/wideeyecreative/assets/scss/global/_typography.scss';

// //@import '../../../../themes/wideeyecreative/assets/scss/base/sanitize.scss';
// //@import '../../../../themes/wideeyecreative/assets/scss/base/base.scss';

@mixin breakpoint($breakpoint, $width: min) {
  @if $width == "max" {
    @media (#{$width}-width: $breakpoint - 1px) {
      @content;
    }
  } @else {
    @media (#{$width}-width: $breakpoint) {
      @content;
    }
  }
}
$panelPadding: 35px !default;
$searchFilterHeight: 55px !default;
$white: #fff !default;
$primary    : #0066ff!default;
$secondary    : #ff0000!default;
$body     : #222222!default;
$tertiary   : #d7dee5!default;
$details    : #919191!default;
$bg-dark      : #0066FF!default;
$bg-light   : #eeeeee!default;

// Headlines
$headlineColor  : #222222!default;
$hrColor    : #cccccc!default;
// breakpoints
$bp-alpha   : 320px!default;
$bp-adams   : 375px!default;
$bp-adams-wide : 390px!default;
$bp-bravo   : 480px!default;
$bp-charlie : 768px!default;
$bp-delta   : 960px!default;
$bp-bobby   : 992px!default;
$bp-echo    : 1250px!default;
// fonts
$primary-font : 'freight-text-pro'!default;
$headline-font  : 'sofia-pro'!default;


@import 'components/SearchBar/style.scss';
@import 'components/EventsMap/style.scss';
@import 'components/MapMarker/style.scss';
@import 'components/EventsPanel/style.scss';
@import 'components/EventCard/style.scss';
@import 'components/EventDetail/style.scss';
@import 'components/EventActions/style.scss';
@import 'components/EventFilters/style.scss';
@import 'components/Loader/style.scss';


.wem {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  position: relative;

  .wem__map-container, .wem__events-right{
    visibility: hidden;
    opacity: 0  !important;
    transition: opacity 0.5s;
  }
  .wem__map-container{
    max-height:0;
  }
  @media (min-width: 768px) {
    .wem__map-container{
      max-height:none;
    }
  }
  &.--init, &.--failed{
      .wem__events-right{
        visibility: visible;
        opacity: 1 !important;
      }
      @media (min-width: 768px) {
        .wem__map-container{
          visibility: visible;
          opacity: 1 !important;
        }
      }
    visibility: visible;
    opacity: 1;
  }

  &, &:before, &:after, *, *:before, *:after {
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    min-height: 600px;
    flex-direction: row;
    max-height: calc(100vh - 76px);
  }
}

.wem__map-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wem_long_title{
  font-size:20px !important;
}

.virtual-toggle {
  padding-left:25px;
  position: relative;
  input {
    opacity:0;
    position:absolute;
  }
  &:after {
    content:'';
    height:16px;
    width:16px;
    border:1px solid #666;
    position: absolute;
    left:0;
  }
  &:before {
    content:none;
    margin-top: -3px;
    position: absolute;
    left:2px;
    border-left: 2px solid #002740;
    border-bottom: 2px solid #002740;
    left: 4px;
    top: 8px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 5px;
    width: 9px;

  }
  &.checked {
    &:before {
      content:'';
    }
  }
}

.virtual-label__small {
  display: none;
}

.is-sticky {
  .virtual-label__small {
    display: block;
  }
  .virtual-toggle {
    position: absolute;
    right:-20px;
    opacity:1 !important;
    &:after {
      top:0;
    }
  }
  .virtual-label__large {
    display: none;
  }
}
