.wem__events-map__marker, .wem__events-map__icon{
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  transform: translate(-10px, -10px);
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  &.noshadow{
    box-shadow:none;
  }
  &.is-active{
    transform: translate(-10px,-10px) scale(1.2);
    transform-origin: center center;
  }
}

.wem__events-map__marker {
  background-color: $primary;
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 0 0 5px 0 rgba(#000, 0.1);
  transition: background-color 0.3s ease-in-out;
  &:hover,
  &.is-active {
    position: relative;
    z-index: 9999;
  }
  &:hover{
    background-color: $secondary;
  }
  &.is-active{
    background-color: $secondary;
    z-index: 99999;
    position: relative;
  }
  &.is-active:hover{
    z-index: 999999;
    position: relative;
  }
}



.wem__events-map__icon{
  width: 19px;
  height: 19px;
  color: $primary;
  box-shadow:none;
  &:hover,
  &.is-active {
    position: relative;
    z-index: 9999;
  }
  &:hover{
    color: $secondary;
  }
  &.is-active{
    color: $secondary;
    z-index: 99999;
    position: relative;
  }
  &.is-active:hover{
    z-index: 999999;
    position: relative;
  }
}